html, body, h1, h2, h3, h4, ul, ol, li, p, a {
  padding: 20px;
  border: 0px
  margin: 0 50px 0 50px;
  font: inherit;
  font-size: 100%;
  background colour: #e4f8fb;
  width: 1200px;
}

h1 {
  font-size: 34px;
  font-color: #1a7bbc;
  font-family: verdana, helvetica;
  font-weight: bold;
  margin: 10 auto 10 auto; 
  bottom-border: 3px #8D03F7 solid;
  padding-bottom: 2px;
  text-align: center;
}
h2 {
  font-size: 28px;
  font-color: #1abbc1;
  font-family: verdana, helvetica;
  font-weight: bold;
  margin: 10 auto 10 auto; 
  bottom-border: 2px #8D03F7 solid;
  padding-bottom: 1px;
  text-align: center;
}
h3 {
  font-size: 24px;
  font-color: ##1fe08c;
  font-family: verdana, helvetica;
  font-weight: ;
  margin: 10 auto 10 auto; 
  padding-bottom: 1px;
  text-align: center;
}
p {
  font-size: 16px;
  font-color: #000000;
  font-family: verdana, helvetica;
  padding-bottom: 0 5px 20px 20px;
 
}
ul li {
  font-family: verdana, helvetica;
  font-color: #5e18af;
  font-size: 20px;
  margin-left: 20px;
}
a {
  font-family: verdana, helvetica;
  font-colour: #60159d;
}
.italics {
  font-size: 18px;
  font-style: italic;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 3px;
}
.nav li {
  display: inline;
  font-family: verdana, helvetica;
  font-color: #5e18af;
  font-size: 18px;
  margin: 10px auto 10px auto;
  text-decoration: underline;
  padding: 3px 0 3px 0;
  border: 1px #C8A1E6 dotted;
}
.about-heading {
  background: #158599 center top repeat-x;
  margin: 5px 5px 5px 5px;
  text-colour: #ffffff;
}
.about-body {
  background: background: #b7ecf5 center top repeat;
  text-colour: #000000;
}
.ertus-header {
  background: #d31da2 center top repeat;
  margin: 5px 5px 5px 5px;
  text-color: #ffffff;
  padding: 0 auto 0 auto;
  border-bottom: dotted #ffffff 3px;
}
.ertus-body {
  background: #c79ce8 center top repeat;
  text-color: #55088f
  margin: 10px 10px 10px 10px;
  bottom-padding: 30px;
}
.ertus-body p {
  border-top: dotted 1px #ffffff;
}
.young-barbarian-heading {
  background: #14943d center top repeat-x;
  margin: 5px 5px 5px 5px;
  text-color: #ffffff
}
.young-barbarian-entry1 {
  background: #bcf6ce center top repeat;
  margin-bottom: 15px;
  text-color: #000000
}
.young-barbarian-entry 2 {
  background: #bcf6ce center top repeat;
  margin-bottom: 15px;
  text-color: #000000
}
