html, body, h1, h2, h3, h4, ul, ol, li, p, a {
  padding: 0;
  border: 0;
  margin: 0;
  font: inherit;
  font-size: 100%;
  background-color: #e4f8fb;
}
body {
  vertical-align: middle;
  margin: auto;
}
h1 {
  font-size: 40px;
  color: #1a7bbc;
  font-family: verdana, helvetica;
  font-weight: bolder;
  padding: 25px auto 25px auto;
  padding-bottom: 2px;
  text-align: center;
  bottom-border: 3px #1a7bbc solid;
  text-decoration: underline;
}
h2 {
  font-size: 30px;
  color: #1abbc1;
  font-family: verdana, helvetica;
  font-weight: bold;
  text-align: center;
  padding: 40px auto 40px auto;
}
h3 {
  font-size: 24px;
  color: #1fe08c;
  font-family: verdana, helvetica;
  padding: 0 10px 1px 10px; 
  text-align: center;
  margin: 10px auto 10px auto;
}
p {
  font-size: 16px;
  width: 800px;
  font-family: verdana, helvetica;
  padding: 20px 30px 20px 30px;
  margin: 5px auto 30px auto;
  line-height: 36px;
}

ul li {
  font-family: verdana, helvetica;
  color: #5e18af;
  margin-left: 50px;
}
a {
  font-family: verdana, helvetica;
  color: #60159d;
}
body img {
  max-width: 800px;
  max-height: 400px;
  margin: auto auto auto auto;
  display: block;
  padding: 30px 30px 30px 30px;
}
.nav {
  background: #D4F7F5;
  padding:40px auto 40px auto;
  border: #55088f solid 2px;
  width: 1000px;
  margin: 40px auto 40px auto;
}
.nav li {
  display: inline;
  font-weight: bold;
  color: #5e18af;
  font-size: 26px;
  text-decoration: underline;
  border: 2px #C8A1E6 dotted;
}
.about-heading {
  background: #158599;
  margin: 5px 5px 5px 5px;
  color: #ffffff;
}
.about-body {
  background: #b7ecf5;
  color: #000000;
}
.about-body p {
  text-align: center;
  font-weight: bold;
}
.about-heading img {
  width: 800px;
  height: 200px;
  margin: auto auto auto auto;
  display: block;
  padding: 30px 30px 30px 30px;
}
.about-heading li {
  color: darkblue;
  list-style: square;
}
.ertus-header {
  background-image: url(photos/sakura.jpg) ;
  background-repeat: repeat;
  margin: 5px 5px 5px 5px;
}
.ertus-header h1 {
  border: 5px solid #C8A1E6;
}
.ertus-body {
  background: #c79ce8;
  color: #55088f
}
blockquote {
  font-weight: bold;
  margin-left: 10%;
  padding: 0 30px 0 30px;
}
.ertus-body p:first-child {
  border-top: dotted 1px #ffffff;
  padding-top: 2px;
}
.young-barbarian-heading {
  background: #14943d;
  padding: 30px 0 30px 0;
  margin: 30px 30px 30px 30px;
  color: #5FA2E6;
}
.young-barbarian h2 {
  padding: 0 0 30px 0;
  color: #1a7bbc;
}
.color1 {
  background: #4C84BD;
  border: 4px dotted #104880;
  color: #104880;
  padding: 40px 0 40px 0;
  margin: 50px 10px 50px 10px;
}
.color2 {
  background: #B3CBE3;
  border: 4px dotted #104880;
  color: #5FA2E6;
  padding: 40px 0 40px 0;
  margin: 50px 10px 50px 10px;
}
.color3 {
  background: #5FA2E6;
  border: 4px dotted #104880;
  color: #104880;
  padding: 40px 0 40px 0;
  margin: 50px 10px 50px 10px;
}
.signature1 {
  font-family: "bradley hand", arial;
  font-weight: bold;
  font-size: 22px;
  text-align: center;
}
.signature2 {
  font-family: "American Typewriter", arial;
  font-weight: bold;
  font-size: 22px;
  text-align: center;
}
.ertus-body1 {
  background-image: url(photos/ertus.png);
  background-position: center, right;
  paddng: 30px 30px 30px 30px;
}
.ertus-body1 h2 {
  border-bottom: 4px solid #104880;
  padding: 10px 0 10px 0;
  margin: 30px 0 30px;
  font-size: 40px;
}

