html, body, h1, h2, h3, h4, ul, ol, li, p, a {
  padding: 0;
  border: 0;
  margin: 0;
  font: inherit;
  font-size: 100%;
}

h1 {
  font-size: 34px;
  font-color: #1a7bbc;
  font-family: verdana, helvetica;
  font-weight: bold;
  margin: 20 auto 20 auto; 
}
h2 {
  font-size: 28px;
  font-color: #1abbc1;
  font-family: verdana, helvetica;
  font-weight: bold;
  margin: 20 auto 20 auto; 
}
h3 {
  font-size: 24px;
  font-color: ##1fe08c;
  font-family: verdana, helvetica;
  font-weight: ;
  margin: 20 auto 20 auto; 
}
p {
  font-size: 14px;
  font-color: #000000;
  font-family: verdana, helvetica;
  margin: 30px 60px 30px 60px; 
}
body {
  padding: 20px 20px 20px 20px;
}
.italics {
  font-size: 24px;
  text-decoration: italic;
  margin-left: 100px;
}
ul li {
  display: inline;
  font-family: verdana, helvetica;
  font-color: #5e18af;
  font-size: 20px;
  margin-left: 15px;
  text-decoration: underline;
}
.about-heading {
  background: ##ece0fb center top repeat;
}
.about-body {
  background: background: ##ece0fb center top repeat;
}
.ertus-heading {
  background: ##ece0fb center top repeat;
}
.ertus-body {
  background: ##ece0fb center top repeat;
}
.young-barbarian-heading {
  background: ##ece0fb center top repeat;
}
.young-barbarian-entry1 {
  background: ##ece0fb center top repeat;
}
.young-barbarian-entry 2 {
  background: ##ece0fb center top repeat;
}
